body {
    font-family: "Inter", sans-serif;
    max-width: 1440px;
    margin: 0 auto;
}
.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-left {
    display: flex;
}
.header-left img {
    margin-right: 36px;
}
.link-list {
    display: flex;
}
ul {
    padding: 0;
}
li {
    list-style-type: none;
    margin-right: 24px;
}
a {
    text-decoration: none;
    color: #33383F;
    font-size: 15px;
}
a:hover {
    color: #0070A0;
}
.sing-in {
    font-size: 15px;
    color: #0070A0;
    border: none;
    background: none;
}
.demo {
    color: #FFFFFF;
    background-color: #0070A0;
    border: none;
}
.demo-header {
    margin-left: 31px;
    padding: 6px 20px;
    font-size: 15px;
}
.main-info {
    display: flex;
    margin: 70px auto 120px auto;
    justify-content: space-between;
}
.main-heading {
    font-family: "Fraunces", serif;
    font-size: 58px;
    color:#1F1F1F;
    font-weight: 400;
}
.main-info-text {
    font-size: 20px;
    color: #1F1F1F;
    max-width: 351px;
    line-height: 30px;
}
.main-info-left {
    max-width: 525px;
}
.demo-main-info {
    margin-right: 24px;
    padding: 8px 32px;
    font-size: 17px;
}
.main-info-buttons {
    display: flex;
    align-items: center;
}
.trusted {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.trusted-text {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 24px;
}
.trusted-img {
    display: flex;
    width: 730px;
    justify-content: space-between;
}
.dignity {
    margin-top: 168px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:#1F1F1F;
    font-weight: 400;
    max-width: 1130px;
}
.dignity-block {
    width: 355px;

    padding: 32px;
}
.dignity-block img {
    padding: 12px 7px;
}
.dignity-heading {
    font-family: "Fraunces", serif;
    font-size: 25px;
    color:#1F1F1F;
    font-weight: 400;
}
.dignity-text {
    line-height: 24px;
    font-size: 15px;
}
.yellow {
    background-color: #FAEA73;
}
.light-blue {
    background-color: #CCEFF6;
}
.pink {
    background-color: #F7CEDC;
}